body {
    font-family:'Century Gothic';
    background-image: url("https://blog.geocities.institute/wp-content/uploads/02.png");
    background-repeat: repeat;
    text-align: center;
    line-height: 1.25;
    font-size: 32px;
    color:white;
    margin-left: 50px;
    margin-right: 50px;
    cursor: url('images/cursor.png'), auto;
}

h2 {
    font-size: 30px;
}

p {
    text-align: left;
    font-size: 24px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.row3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.cristiano-ronaldo {
    display: block;
    width: 400px;
    align-items: center;
    margin: auto;
    position: relative;
}

.ol {
    align-items: left;
    width: 33%;
    position: absolute;
}

.soccer {
    flex: 1;
}

.top-5 {
    text-align: left;
    position: relative;
    margin-right: 66%;
}

.toy-poodle {
    width: 300px;
    position: relative;
    box-shadow: -5px -5px 10px white;
}

.nintendo-switch {
    width: 300px;
}

.goalkeeper-gif {
    width: 300px;
    position: relative;
}

.ronaldo-label {
    width: 33%;
}

.toy-poodle-label {
    flex: 1;
}